ADMINKEY=testtest
WEBPORT=8000
BACKENDIMAGE=registry.gitlab.com/nolim1t/airdeveloppa-backend:v0.1.23
DATABASEIMAGE=mongo:5.0.5-focal
DBADMINUSER=root
DBADMINPASS=password
DBIPADDRESS=10.254.1.6
DBPORT=27017
BACKENDIPADDRESS=10.254.1.4
NGINXIPADDRESS=10.254.1.2
DBEXTERNALPORT=27017
DBNAME=airdeveloppa
